<div class="container m-2">
  <h1>My Tasks</h1>
  <div class="container border-bottom">
    <ul class="list-unstyled">
      <% @tasks.each do |task| %>
        <li>  <% if task.completed %>
                <i class="fa-regular fa-square-check"></i>
              <% else %>
                <i class="fa-regular fa-square"></i>
              <% end %>
              <%= link_to task.title, task_path(task), class: "text-decoration-none" %>
              <%= link_to task_path(task), data: { turbo_method: :delete, turbo_confirm: "Delete #{task.title}?" } do %>
              <i class="fa-solid fa-trash-can"></i>
              <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="container mt-3">
    <i class="fa-solid fa-plus"></i>
    <%= link_to 'Create new task', tasks_new_path, class: "text-decoration-none"  %>
  </div>
</div>
