<div class="container m-2">
  <h1><%= @task.title %></h1>
  <div class="container border-bottom">
    <div class="bd-callout bd-callout-info">
      <%= @task.details %>
    </div>

    <ul class="list-unstyled">
        <% if @task.completed %>
          <li> <i class="fa-regular fa-square-check"></i> This task is completed</li>
        <% else %>
          <li> <i class="fa-regular fa-square"></i> This task is <b>not</b> completed</li>
        <% end %>
    </ul>

    <%= link_to "Edit task", edit_task_path, class: "text-decoration-none" %>
  </div>
  <div class="container mt-3">
  <i class="fa-solid fa-rotate-left"></i>
  <%= link_to 'Back to all tasks', tasks_path, class: "text-decoration-none" %>
  </div>
</div>
